.Rajoy{
		-fx-background-image: url("r2.jpg");
		-fx-background-repeat: no-repeat;
		-fx-background-size: cover, auto;
		-fx-background-radius: 16.4, 15;
  	-fx-background-insets: -1.4, 0;
  	-fx-border-radius: 15;
  	-fx-border-width: 2;
}
.fondo{
	-fx-background-color: blue;
	-fx-border-color: blue;
	-fx-text-fill: white
}
.detras{
	-fx-border-color: white;
	-fx-background-radius: 16.4, 15;
  	-fx-background-insets: -1.4, 0;
  	-fx-border-radius: 15;
  	-fx-border-width: 2;
}
.fondo{
	-fx-background-color: black;
}
.titulo{
	-fx-font-size: 15pt;
	-fx-text-fill: white;
}
.texto{
	-fx-font-size: 10pt;
	-fx-text-fill: white;
}	
.pp{
		-fx-background-image: url("pp.jpg");
		-fx-background-repeat: no-repeat;
		-fx-background-size: cover, auto;
}